<div class="row justify-content-center">
  <div class="col-6">
    <div class="row">
      <div class="col">
        <h3>Menambahkan dinamik title dan meta tag di angular</h3>
        <small>{{articleDate | date:'medium'}}</small>
      </div>
    </div>
    <div class="row my-3">
      <div class="col">
        <img src="https://ik.imagekit.io/juncyboy/tr:ar-7-2,h-200,q-5/bealkha.com/meta_tags_I7AknlwPBz.jpg" alt="image cantik">
      </div>
    </div>
    <p>
      Title atau judul dalam bagian <i>header</i> website berguna untuk memberi informasi ke pembaca 
      tentang isi materi yang akan user baca atau akses. Sedangkan metadata berguna untuk memberi 
      informasi ke robot pencari (search engine) agar website yang kita buat bisa index dan dimasukkan
      ke database <i>search engine</i> seperti google, bing, duckduckgo dan lain-lain. 
      Angular adalah javascript framework yang dapat digunakan untuk membuat static ataupun dinamis website. 
    </p>
    <h5>Apakah perlu? dan mengapa harus dinamis?</h5>
    <p>
      Static website yang digunakan untuk web profil atau blog sangat membutuhkan title dan metadata. 
      Tujuan dari title dan metadata ini agar <i>search engine</i> dengan mudah melakukan indexing sehingga website 
      bisa masuk dalam daftar pencarian user. Meskipun secara teknis implementasi-nya title dan metadata ini
      tidak bisa secara cepat membuat website langsung diindex dan dibaca oleh <i>search engine</i>, tetapi
      saat <i>search engine</i> bisa mendeteksi website yang kita buat, <i>search engine</i> bisa dengan cepat,
      mudah dan tanpa kendala memasukkan website ke database mereka.
    </p>
    <p>
      Alasan utama dinamik title dan metadata untuk sebuah website adalah konten yang akan di sediakan sebuah website tersebut
      bukan konten statis, seperti blog atau web profil yang tiap beberapa periode sekali terjadi perubahan konten.
      Dinamik title dan metadata 
    </p>
    <h5>Where</h5>
    <h5>When</h5>
    <h5>Who</h5>
    <h5>How</h5>
  </div>
</div>