@import "../../../../node_modules/bootstrap/scss/bootstrap";

.container-fluid {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.82) 0%, #ffffff 83.85%), url(https://ik.imagekit.io/juncyboy/bealkha.com/tr:q-2/background_N2KUM9bLh.jpg);
  mix-blend-mode: normal;
  background-position: center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.title {
  font-family: "Karla", sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 3px theme-color("secondary");
}

.lineSeparator {
  height: 3px;
  border: none;
  background: theme-color("dark");
}

.linkBlog div:hover {
  color: theme-color("secondary");
  cursor: pointer;
}

.linkBlog div:nth-child(3) {
  border: none;
}

.linkBlog div {
  display: inline-flex;
  padding: 0px 10px;
  border-right: solid;
  letter-spacing: 2px;
}

.socialIcon {
  padding-top: 1em;
}

.socialIcon a {
  color: theme-color("dark");
}

.socialIcon a:hover {
  color: theme-color("secondary");
  cursor: pointer;
}
