<div class="container-fluid">
  <div class="row pt-5 justify-content-center">
    <div class="col-auto">
      <h1 class="title">The Gdad's</h1>
    </div>
  </div>
  <div class="row justify-content-center align-items-center h-50">
    <div class="col-12 col-md-8 col-xl-6">
      <h3 class="text-center">
        Hi, namaku Yuda, <br>
        Full stack developer asal Surabaya
      </h3>
      <hr class="lineSeparator" />
      <h5 class="text-center linkBlog h6">
        <div routerLink="/">Tentangku</div>
        <div>Blog</div>
        <div>Portfolio</div>
      </h5>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto socialIcon">
      <a href="http://bit.ly/33On2jA" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-facebook-square fa-3x"></i>
      </a>
    </div>
    <div class="col-auto socialIcon">
      <a href="http://bit.ly/30qGX5S" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter-square fa-3x"></i>
      </a>
    </div>
    <div class="col-auto socialIcon">
      <a href="http://bit.ly/2NoQF52" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-instagram fa-3x"></i>
      </a>
    </div>
    <div class="col-auto socialIcon">
      <a href="http://bit.ly/2HjXelz" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-youtube-square fa-3x"></i>
      </a>
    </div>
    <div class="col-auto socialIcon">
      <a href="http://bit.ly/33YikzN" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-medium fa-3x"></i>
      </a>
    </div>
    <div class="col-auto socialIcon">
      <a href="http://bit.ly/2ZvJMS3" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-github-square fa-3x"></i>
      </a>
    </div>
  </div>
</div>