<div class="footerTemplate text-light px-5 py-4 mx-0">
  <div class="row">
    <div class="imageProfile col-12 col-sm-auto text-center text-sm-left">
      <img src="https://ik.imagekit.io/juncyboy/tr:h-140/Photo_editing_Cloud20190909_2_evl7pd3ok.jpg"
        alt="Profile picture">
    </div>
    <div class="col-12 col-md col-lg-6 col-xl-4 px-0 px-md-3 mt-4 mt-md-0">
      <p>
        Hi, nama saya Yuda Ferry Mahendra.<br>
        Mulai 2010 menggeluti dunia programming.<br>
        Sejak 2011 mendalami back end programming.
      </p>
      <p class="m-0">
        Saat ini saya fokus di full stack programming<br>
        menggunakan Nodejs, Angular, Ionic, Reactjs, React Native dan Mongodb
      </p>
    </div>
    <div class="col-12 col-lg-5 col-xl text-lg-right mt-4 mt-lg-0 px-lg-3 px-0">
      <p>
        <a [href]="'mailto:'+email" title="Keep in touch" class="text-light">
          {{email}} <i class="fas fa-envelope-square"></i>
        </a><br>
        <a href="tel:+6285655448804" class="text-light">
          {{phone}} <i class="fas fa-phone-square"></i>
        </a>
      </p>
      <p>
        <a href="https://wa.me/6285655448804?text=Hi,%20Saya%20ingin%20berkenalan" target="_blank"
          rel="noopener noreferrer" class="text-light">
          <i class="fab fa-whatsapp-square fa-2x"></i>
        </a>&nbsp;&nbsp;
        <a href="https://t.me/theGDads" target="_blank" rel="noopener noreferrer" class="text-light">
          <i class="fab fa-telegram fa-2x"></i>
        </a>&nbsp;&nbsp;
        <a href="http://bit.ly/33On2jA" target="_blank" rel="noopener noreferrer" class="text-light">
          <i class="fab fa-facebook-square fa-2x"></i>
        </a>&nbsp;&nbsp;
        <a href="http://bit.ly/30qGX5S" target="_blank" rel="noopener noreferrer" class="text-light">
          <i class="fab fa-twitter-square fa-2x"></i>
        </a>&nbsp;&nbsp;
        <a href="https://s.id/igyuda" target="_blank" rel="noopener noreferrer" class="text-light">
          <i class="fab fa-instagram fa-2x"></i>
        </a>&nbsp;&nbsp;
        <a href="http://bit.ly/2HjXelz" target="_blank" rel="noopener noreferrer" class="text-light">
          <i class="fab fa-youtube-square fa-2x"></i>
        </a>&nbsp;&nbsp;
        <a href="http://bit.ly/33YikzN" target="_blank" rel="noopener noreferrer" class="text-light">
          <i class="fab fa-medium fa-2x"></i>
        </a>&nbsp;&nbsp;
        <a href="http://bit.ly/2ZvJMS3" target="_blank" rel="noopener noreferrer" class="text-light">
          <i class="fab fa-github-square fa-2x"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="row justify-content-center mt-2">
    <div class="col-auto text-center">
      <small>
        Build with <a href="https://angular.io" target="_blank" class="text-light" rel="noopener noreferrer">Angular</a>
        +
        <a href="https://firebase.google.com/" target="_blank" class="text-light" rel="noopener noreferrer">Firebase</a><br>
        Copyright &copy; {{year}}
      </small>
    </div>
  </div>
</div>
