/* You can add global styles to this file, and also import other style files */

.codeExample {
  overflow-x: auto;
  white-space: nowrap;
  padding: 30px;
}

img {
  width: 100%;
  height: auto;
}

blockquote {
  // border-left: 3px solid rgba(255, 0, 0, 0.4);
  // padding: 12px 0px 1px 12px;
  // color: rgba(0, 0, 0, 0.64);
  // background-color: rgba(255, 255, 0, 0.1);
  border-left: 3px solid rgba(255, 145, 0, 0.6);
  padding: 12px 0px 1px 12px;
  color: rgba(0, 0, 0, 0.64);
  background-color: rgba(255, 0, 0, 0.1);
}
